<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="right">
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" th:text="${session.name}">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">1</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">2</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">3</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">登出</a>
                </li>
            </ul>
        </div>
    </div>
    <h2>Home</h2>
    <a th:unless="${session.logged}" href="/login">登录</a>
    <a th:if="${session.logged}" href="/create">发布文章</a>
    <div th:if="${session.logged}">
        <ul class="entries">
            <li th:unless="${#lists.isEmpty(articles)}"
                th:each="article : ${articles}">
                <a th:href="@{'/article/' + ${article.get('id')}}" target="_blank"><h2 th:text="${article.get('title')}"></h2></a>
            </li>
            <li th:if="${#lists.isEmpty(articles)}"><em>无文章</em></li>
        </ul>
    </div>
</body>
</html>