<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MyArticle</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
</head>
<body style="padding:50px;">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">    Home</a>
            </div>
            <div>
                <p class="navbar-text navbar-right">        </p>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.logged}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="'当前用户：'+${session.name}">
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/myArticle">我的文章</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">2</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">3</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/logout">登出</a>
                            </li>
                        </ul>
                    </li>
                    <li th:unless="${session.logged}"><a href="/register"><span class="glyphicon glyphicon-user"></span>   注册  </a></li>
                    <li th:unless="${session.logged}">    </li>
                    <li th:unless="${session.logged}"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>   登录  </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 style="text-align:center">MyArticle</h2>
    <div th:if="${session.logged}">
        <ul class="entries">
            <li th:unless="${#lists.isEmpty(articles)}" th:each="article : ${articles}">
                <a th:href="@{'/article/' + ${article.get('id')}}" target="_blank"><h2 th:text="${article.get('title')}"></h2></a>
                <span>
                    <a class="btn btn-primary btn-sm active" role="button" th:href="@{'/article/update/' + ${article.get('id')}}">修改</a>
                </span>
                <span>
                    <a class="btn btn-primary btn-sm active" role="button" th:onclick="function_delete([[${article.get('id')}]],[[${article.get('title')}]]);">删除</a>
                </span>
            </li>
            <li th:if="${#lists.isEmpty(articles)}"><em>无文章</em></li>
        </ul>
    </div>

    <script type="text/javascript" th:inline="javascript">
        function function_delete(id,title) {
            $.ajax({
                url: '/delete',
                type: 'post',
                dataType: 'text',
                data: {
                    id: id,
                    title: title
                },
                cache: false,
                async: true,
                success: function () {
                    location.reload();
                }
            });
        }
    </script>
</body>
</html>