<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page">
    <h2>Register</h2>

    <form method="post">
        <dl>
            <dt>Id:</dt>
            <dd><input type="text" name="id"/></dd>
            <dt>Username:</dt>
            <dd><input type="text" name="username"/></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password" /></dd>
            <dd><input type="submit" value="Register"/></dd>
        </dl>
    </form>
</div>
</body>
</html>